pyewsclient/xml/autodiscover.response.redirect.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
  targetNamespace="http://schemas.microsoft.com/exchange/autodiscover/responseschema/2006" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/exchange/autodiscover/outlook/responseschema/2006a" />
  <xs:element name="Autodiscover">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Response">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Account">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Action" type="xs:string" />
                    <xs:element name="RedirectAddr" type="xs:string" />
                    <xs:element name="RedirectUrl" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
